<header class="h-14 flex items-center justify-between px-2 py-2 bg-gradient-to-r from-[#F28C7F] from-50% to-[#00A991] drop-shadow z-30">
    <!-- left: logo / home button -->
    <div class="flex items-center space-x-3" *ngFor="let item of menuItems3">
      <a [routerLink]= "[ item.route ]" class="p-2 hover:bg-white/20 rounded leading-none">
        <iconify-icon [icon]="item.icon" class="text-2xl text-white "></iconify-icon>
      </a>
      <!-- optional title or breadcrumbs -->
      <h1 class="text-white text-lg font-semibold">MegaYuntas S.A.C</h1>
    </div>
  
    <!-- right: user menu -->
    <div class="flex items-center space-x-3">

        <iconify-icon icon="mdi:account-circle-outline" class="text-2xl text-white"></iconify-icon>
      
      <span class="text-white">Bienvenido, Andy H. Rucoba Reategui</span>
      <!-- dropdown arrow -->
      <button aria-label="User menu" class="p-1 hover:bg-white/20 rounded">
      <iconify-icon icon="mdi:chevron-down" class="text-2xl text-white"></iconify-icon>
      </button>
    </div>
  </header>