<div class="bg-gray-100 bg-gray-100 w-full min-h-screen flex flex-col">
<div class="w-full">
      <img
         src="../../../assets/Logo_Megayuntas2.png"
          alt="MegaYuntas logo"
          class="w-40 h-auto m-4 mt-4"/>
  </div>
<div class="flex flex-col h-full w-full px-60 md:px-60 ">
  <div class="">
  <!-- Título con espaciado responsivo -->
  <div class="flex mt-1 md:mt-1 mb-2">
    <div class="w-[60px] md:w-[70px]"></div> <!-- Espacio reducido -->
    <h1 class="text-2xl md:text-3xl font-bold text-gray-800">Empresa</h1>
  </div>
  
  <!-- Contenido principal con sidebar y área de contenido -->
  <div class="flex flex-1 overflow-visible">
    <!-- Sidebar -->
    <app-sidebar-empresa class="flex-shrink-0"></app-sidebar-empresa>
    
    <!-- Área de contenido principal con padding responsivo -->
        <div class="flex-1 overflow-auto ">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
