<!-- Contenedor general sin scroll horizontal -->
<div class="overflow-hidden h-screen flex flex-col">
  <!-- Toolbar -->
  <app-toolbar class="flex-shrink-0 w-full"></app-toolbar>
  
  <!-- Layout principal: sidebar + contenido -->
  <div class="flex flex-1">
    <!-- Sidebar fijo (no superpuesto) -->
      <app-sidebar></app-sidebar>

    
    <!-- Contenido principal desplazado -->
    <main class="flex-1 overflow-auto w-full min-h-0">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
