<!-- Contenedor general sin scroll horizontal -->
<div class="overflow-x-hidden">

    <!-- Tu toolbar existente -->
    <app-toolbar></app-toolbar>
  
    <!-- Layout: sidebar + contenido -->
    <div class="flex">
      <app-sidebar></app-sidebar>
  
      <main class="flex-1 p-6 pl-16 flex items-center justify-center">
        <img class="max-w-[50%] h-auto p-10" src="../../assets/Logo_Megayuntas2.png">
        <!-- Aquí va el contenido de tu dashboard -->
      </main>
    </div>
    
  </div>
  